<div style="display: flex; margin-top: 20px; border-bottom: 1px solid black; justify-content: space-between; height: 30px;">


  <%= link_to "My lists", root_path %>
  <%= link_to "New list", new_list_path %>
</div>
